#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&trackball_listener {
    // ★テスト用：XY入れ替え（向き確認のため）
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP)>;
};
