/{
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    trackball_split_listener: trackball_split_listener {
        compatible = "zmk,input-listener";
        device = <&trackball_split>;
        status = "okay";
        // ★テスト用：XY入れ替え（向き確認のため）
        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP)>;
    };
};
